.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  background-color: #12021f;
}

.link {
  background-color: #bdbdf0;
  padding: 10px 20px;
  border-radius: 10px;
  color: #12021f;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid transparent;
  outline: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, border-color;
}

@media only screen and (min-width: 768px) {
  .link {
    padding: 10px 70px;
  }
}

@media only screen and (min-width: 1158px) {
  .link {
    padding: 10px 90px;
  }
}

.link:hover {
  transform: scale(104%);
  border-color: #5e0552;
}

.active {
  background-color: #6f6fe6;
  color: #12021f;
}
